<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <% include partials/head %>
</head>

<body>
    <% include partials/navbar %>
        <div class="container">
            <span id="download-quote">
                We are downloading the url you have given.<br/>
                <%= url %>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="<%= percent %>"
                    aria-valuemin="0" aria-valuemax="100" style="width:<%= percent %>%">
                      <span class="sr-only"><%= percent %>% Complete</span>
                    </div>
                </div>
                
            </span>
        </div>


</body>
<% include partials/script %>

</html>